$color-background: rgb(245, 244, 244);
$color-first-title: rgb(82, 133, 175);
$color-second-title: rgba(56, 157, 240, 0.753);
$color-text: rgb(49, 49, 49);
$color-main: rgb(63, 163, 245);
$color-register-container: rgba(63, 163, 245, 0.76);

body {
    background-color: $color-background;
}


.conoce-medicar-container {

    .top-container {
        display: flex;
        justify-content: space-evenly;

        .conociendo-container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 30vw;
            margin: 5% 0;
            background: #ffffffff;
            border: 4px solid $color-first-title;
            border-radius: 40px;

            .img-container {
                width: 50%;
                height: 100%;
                border-radius: 40px;

                .top-imagen-1, .top-imagen-2, .top-imagen-3 {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: 37px;
                    border-bottom-left-radius: 37px;
                    border-right: 4px solid $color-first-title;
                }
            }

            .desc-container {
                align-self: start;
                width: 50%;
                padding: 15px;

                .desc-conoce-title {
                    color: $color-first-title;
                    margin: 0;
                }

                .desc-conoce-subtitle {
                    color: $color-second-title;
                    margin: 0;
                }

                .desc-conoce-text {
                    color: $color-text;
                }

                b {
                    font-weight: 700;
                }
            }
        }
    }



    .mid-container {
        display: flex;
        justify-content: center;

        .politicas-container {
            display: grid;
            text-align: start;
            width: 18%;
            margin: 0 2%;
            margin-bottom: 10%;
            padding-left: 1.5%;
            padding-right: 0.5%;
            background: rgb(226, 226, 226);
            border: none;
            border-radius: 2px;

            .politicas-conoce-title {
                margin-top: 8%;
                margin-bottom: 2%;
                color: $color-second-title;
            }

            .politicas-conoce-text {
                margin: 0;
                color: $color-text;
                font-weight: 400;
            }

            .politicas-conoce-button {
                margin: 8% 0;
                width: 28%;
                height: 38%;
                margin-left: 32%;
                border-radius: 6px;
                border: none;
                background: $color-main;

                .conoce-link {
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }   
    }



    .bot-container {
        height: 40vh;
        margin-bottom: 4%;

        .register-container {
            position: relative;
            width: 20%;
            height: 50%;
            margin-bottom: -15%;
            margin-left: 7%;
            padding: 1% 2%;
            color: #ffffff;
            background: $color-register-container;

            .conoce-register-title {
                font-size: 2.5vmin;
            }

            .conoce-register-text {
                font-size: 1.8vmin;
            }

            .conoce-register-button {
                padding: 2% 2.5%;
                background-color: rgba(13, 111, 192, 0.87);
                border: none;
                border-radius: 3px;
                font-size: 1.55vmin;

                .registrarse-conoce-button {
                color: #ffffff;
                text-decoration: none;
                }
            }
        }   
        
        .bot-img-container {
            width: 100%;
            height: 100%;

            .bot-imagen-1 {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

