@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.log-out-button {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: #f1f1f1;
    margin-left: -5%;
    cursor: pointer;
}