@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


$color-main: rgb(63, 163, 245);
$color-main-shadow: rgba(56, 157, 240, 0.322);
$color-secondary: rgb(218, 218, 218);
$color-links: rgb(59, 59, 59);
$color-hover-link: rgb(77, 205, 255);

nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    width: 101vw;
    background: $color-main;
    border-bottom: 1px solid rgb(10, 91, 158); 
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    .logo-container {
        width: 3.8vw;
        height: 8vh;
        margin-top: 1.25vh;
        margin-left: 4.7vw;

        img {
            background-position: center;
            background-size: cover; 
            width: inherit;
            height: inherit;  
        }
    }

    .nav-out-links {
        display: inherit;
        float: right;
        margin: 0;
        padding-right: 3%;
        cursor: pointer;
        

        .nav-out-li {
            display: inherit;
            align-items: center;
            padding: 0 3em;
            height: 96%;

            .nav-out-link {
                text-decoration: none;
                color: #f1f1f1;
                font-size: 1.2rem;
            }

            &:hover {
                border-bottom: 5px solid $color-hover-link;
                background-color: rgb(64, 159, 236);
            }       
        }    
    }

    @media (max-width: 1360px) {
        .logo-container {
            width: 4vw;
        }

        .nav-out-links {
            .nav-out-li {
                padding: 0 2em;
                .nav-out-link {
                    font-size: 1.15rem;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .logo-container {
            width: 7vw;
        }

        .nav-out-links {
            .nav-out-li {
                padding: 0 1em;
                .nav-out-link {
                    font-size: 1.1rem;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .logo-container {
            width: 10vw;
        }

        .nav-out-links {
            .nav-out-li {
                padding: 0 0.6em;
                .nav-out-link {
                    font-size: 1rem;
                }
            }
        }
    }

    @media (max-width: 576px) {
        .logo-container {
            width: 12vw;
        }

        .nav-out-links {
            .nav-out-li {
                padding: 0 0.3em;
                .nav-out-link {
                    font-size: 0.7rem;
                }
            }
        }
    }

}

